/* html {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #8a8989;
    margin: 0;
    padding: 0;
}

h3 {
    color: green;
} */

.formulario {
    border: 1px solid black;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
}

ul {
    list-style: none;
    padding: 0;
}